<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="noindex,nofollow,noodp">
		<title>Component</title>
		<link rel="stylesheet" href="http://localhost:8080/carousel/style.css" type="text/css"/>
	</head>
	<body>
		<section class="carousel" aria-labelledby="carouselHeading" data-carousel>
			<h1 id="carouselHeading" class="carousel__heading">My Carousel</h1>
			<ul class="carousel__wrapper">
				<li class="carousel__slide carousel__slide--active" data-carousel-slide-item>
					<article>
						<h3>Slide One</h3>
					</article>
				</li>
				<li class="carousel__slide" data-carousel-slide-item>
					<article>
						<h3>Slide Two</h3>
					</article>
				</li>
				<li class="carousel__slide" data-carousel-slide-item>
					<article>
						<h3>Slide Three</h3>
					</article>
				</li>
			</ul>
		</section>
		<script src="http://localhost:8080/carousel/carousel.js"></script>
	</body>
</html>
