<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="noindex,nofollow,noodp">
		<title>Accordion component</title>
		<link rel="stylesheet" href="http://localhost:8080/accordion/style.css" type="text/css"/>
	</head>
	<body>
		<div class="accordion">
			<h1 class="accordion__title">Accordion</h1>
			<ul class="accordion" aria-label="Hello World Accordion" data-accordion>
				<li class="accordion__section">
					<button class="accordion__toggler" aria-expanded="false" aria-controls="item1" data-accordion-button>Item One</button>
					<div class="accordion__content-area" id="item1" aria-hidden="true" data-accordion-content-area>
						Hello World Content One
					</div>
				</li>
				<li class="accordion__section">
					<button class="accordion__toggler" aria-expanded="false" aria-controls="item2" data-accordion-button>Item Two</button>
					<div class="accordion__content-area" id="item2" aria-hidden="true" data-accordion-content-area>
						Hello World Content Two
					</div>
				</li>
				<li class="accordion__section">
					<button class="accordion__toggler" aria-expanded="false" aria-controls="item3" data-accordion-button>Item Three</button>
					<div class="accordion__content-area" id="item3" aria-hidden="true" data-accordion-content-area>
						Hello World Content Three
					</div>
				</li>
			</ul>
		</div>

		<script src="http://localhost:8080/accordion/accordion.js"></script>
	</body>
</html>
