<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="noindex,nofollow,noodp">
		<title>Accordion component</title>
		<link rel="stylesheet" href="http://localhost:8080/accordion/style.css" type="text/css"/>
	</head>
	<body>
		<div class="accordion">
			<h1 class="accordion__title">Accordion</h1>
			<ul aria-label="Accordion Control Group Buttons" class="accordion__controls" data-accordion>
				<li class="accordion__section">
					<button aria-controls="content-1" aria-expanded="false" id="accordion-control-1" class="accordion__button" data-accordion-button>Button 1</button>
					<div class="accordion__content" id="content-1" data-accordion-section>
						<div class="accordion__content-inner" data-accordion-content-wrapper>
							<p>Hello World</p>
						</div>
					</div>
				</li>
				<li class="accordion__section">
						<button aria-controls="content-2" aria-expanded="false" id="accordion-control-2" class="accordion__button" data-accordion-button>Button 2</button>
						<div class="accordion__content" id="content-2" data-accordion-section>
							<div class="accordion__content-inner" data-accordion-content-wrapper>
								<p>Hello World</p>
							</div>
						</div>
					</li>
			</ul>
		</div>

		<script src="http://localhost:8080/accordion/accordion.js"></script>
	</body>
</html>
