/***

-------------
	Accordion Component
-------------

Includes:

- No-js fallback styles
***/

* {
	margin: 0;
	padding: 0;
}

:root {
	--c-primary: #0066fd;
	--c-secondary: #b9d2e5;
	--c-tertiary: #f8f9fb;
	--c-white: #ffffff;
	--spacing: 20px;
}

body {
	font-family: 'Helvectica Neue', 'Arial';
	font-size: 1rem;
}

h1 {
	border-bottom: 1px solid var(--c-tertiary);
	font-size: 5rem;
	padding-bottom: calc(var(--spacing) * 0.75);
}

p {
	line-height: 1.4;
}

p, ul, h1 {
	margin-bottom: var(--spacing);
}

.container {
	margin: 0 auto;
	max-width: 65ch;
	padding: calc(var(--spacing) * 2) 0;
}

.accordion__section {
	border-radius: 3px;
	line-height: 1.4;
	list-style: none;
	margin-left: 0;
	margin-bottom: var(--spacing);
	padding: calc(var(--spacing) / 2);
}

.accordion__toggler {
	background: var(--c-tertiary);
	border: 0;
	font-size: 1.2rem;
	font-weight: bold;
	padding: calc(var(--spacing) / 2);
	text-align: left;
	width: 100%;
}

.accordion__toggler[aria-expanded="true"],
.accordion__toggler:focus,
.accordion__toggler:hover {
	background: var(--c-primary);
	color: var(--c-white);
}

.accordion__content-area {
	border-bottom: 1px solid var(--c-tertiary);
	border-left: 1px solid var(--c-tertiary);
	border-right: 1px solid var(--c-tertiary);
	padding: calc(var(--spacing) / 2);
}

.accordion__content-area[aria-hidden="true"] {
	display: none;
}

.accordion__content-area[aria-hidden="false"],
.no-js .accordion__content-area[aria-hidden="true"],
.no-js .accordion__toggler:focus + .accordion__content-area {
	display: block;
}
